

.nav2{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;  
    background-color: rgb(0, 38, 255);
   
}

.nav2 a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 18px;
    text-align: center;
    width: 110px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifs;

}

.nav2  a:hover{
    color: rgb(19, 18, 18);
}
 .home img{
     width: 153%;
     height: 700px;
 }
   
.home{
 
  display: inline-block;
  margin-top: 50px;
}
.homeContent {
    position: absolute;
    top: 40%;
    left: 35%;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;

}
.homeContent a{
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(8, 8, 8);
    text-decoration: none;
    padding: 12px 48px;  
    margin-left: 150px;
    border-radius: 15px;

    
}

.home  a:hover{
    background-color: rgb(3, 28, 248);
    color: rgb(250, 250, 250);
}

.aboutUs{
    color: black;
    font-size: 25px;
    text-align: center;
    margin-bottom: 75px;
}

.aboutUs a{
    border: 3px solid rgb(3, 60, 247);
    color: black;
    border-radius: 15px;
    text-decoration: none;
    padding: 10px ;
    
}

.aboutUs a:hover{
    background-color: rgb(0, 38, 255);
    color: white;
}


.ourProgram {
   
    width: 1200px;
    height: 530px;
    text-align: center;
    color: blue;
    position: static;
    margin-left: 11%;
    
}
.ourProgram .card{
    border: 2px solid rgb(127, 127, 131);
    width: 300px;
    height: 380px;
    margin-left: 50px;
    padding: 15px;
    float: left;
    border-radius: 15px;
    
}
.ourProgram .card img{
    width: 250px;
    height: 250px;
    padding: 10px;
    border-radius: 20px;
}
.ourProgram .card a{
    border: 2px solid blue;
    color: black;
    text-decoration: none;
    padding: 10px 38px;
    position: relative;
    top: 20px;
    border-radius: 20px;
}

.ourProgram .card a:hover{
    background-color: blue;
    color: white;
}

.ourWork {
    
    width: 1200px;
    height: 330px;
    text-align: center;
    color: blue;
    position: relative;
    left: 10%;
}

.ourWork .card{
    border: 2px solid rgb(106, 106, 110);
    width: 150px;
    height: 200px;
    margin-left: 50px;
    padding: 15px;
    float: left;
    border-radius: 15px;
}

.ourWork .card:hover, .ourProgram .card:hover{
    box-shadow: 2px 4px 4px 2px rgb(151, 140, 245);
}


.footer{
    
    background-color: rgb(189, 189, 250);
    margin: 0;
    padding: 0;
    overflow: hidden;
   
    position: static;
    left: 0;
    right: 0;
    bottom: 0;
}


.footer a{
    display: block;
    padding: 10px;
    text-decoration: none;
}